<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SubFolderExtractor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <SubFolderExtractor.Properties.Settings>
      <setting name="CompressionExtensions" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>rar</string>
            <string>r00</string>
            <string>zip</string>
            <string>7z</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="ExtractionToolPath" serializeAs="String">
        <value>C:\Program Files\7-Zip\7z.exe</value>
      </setting>
      <setting name="ExtractionCommand" serializeAs="String">
        <value>x "[CompressedFile]" -o"[Destination]" -y</value>
      </setting>
      <setting name="RenameToFolder" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ChainedFileRegularExpressions" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>.*part\d+.rar</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="DeleteAfterExtract" serializeAs="String">
        <value>False</value>
      </setting>
    </SubFolderExtractor.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Caliburn.Micro" publicKeyToken="8e5891231f2ed21f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.1.0" newVersion="1.5.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>