<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SubFolderExtractor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <SubFolderExtractor.Properties.Settings>
      <setting name="RenameToFolder" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DeleteAfterExtract" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CompressionExtensions" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>rar</string>
            <string>r00</string>
            <string>zip</string>
            <string>7z</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="ChainedFileRegularExpressions" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>.*part\d+.rar</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="UpgradeSettings" serializeAs="String">
        <value>True</value>
      </setting>
    </SubFolderExtractor.Properties.Settings>
  </userSettings>
</configuration>