<?xml version="1.0" encoding="utf-8" ?>
<!-- 
  This file needs to be put in the application directory. Make sure to set 
  'Copy to Output Directory' option in Visual Studio.
  -->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <variable name="logDirectory" value="${basedir}/logs"/>

  <targets>
    <!--File targets-->
    <target name="infoLogFile" xsi:type="File" createDirs="true"
            keepFileOpen="false"
            fileName="${logDirectory}/log.txt"
            layout="${date}| ${message}"/>
    <target name="errorLogFile" xsi:type="File" createDirs="true"
            keepFileOpen="false"
            fileName="${logDirectory}/errorLog.txt"
            layout="${date}| ${message} ${exception:format=tostring} ${newline}"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" maxlevel="Warn" writeTo="infoLogFile" />
    <logger name="*" minlevel="Error" writeTo="errorLogFile" />
  </rules>
</nlog>